{% extends "base.html.twig" %}
{% block title %}Mes reservations !{% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 alert alert-info">
                <h2 class="text-center">Ci-dessous vous allez voir vos réservations : </h2>
                <hr>
            </div>
        </div>
        
        {% include "account/_bookings.html.twig" %}
        
    </div>
{% endblock %}