{% extends "base.html.twig" %}
{% block title %} Mot de passe oublié{% endblock %}
{% block body %}

    <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="card p-3 py-4">
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0"> Mot de passe oublié </h5>
                        <hr>
                        <div class="px-4 mt-1">
                            {% if hasError %}
                                <div class="alert alert-danger"><p>Email incorrecte</p></div>
                            {% endif %}
                            <form action="{{ path('account_login') }}" method="post">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name="_username" id="email" placeholder="Adresse email" class="form-control" value="{{ last_username}}" required>
                                </div>
                                <div class="buttons mt-4 mb-3">
                                    <button type="submit" class="btn btn-outline-primary px-4">Soumettre</button>
                                </div>
                            </form>
                        </div>
                    </div>        
                </div>
            </div>
        </div>  
{% endblock %}