{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="bg-dark py-3 px-3">
                {% if hasError %}
                    <div class="alert alert-danger"><p>Email ou mot de passe incorrecte</p></div>
                {% endif %}
                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="_username" id="email" placeholder="Adresse email" class="form-control" value="{{ last_username}}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe </label>
                        <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success mt-2">Se Connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    
{% endblock %}
