{% extends "base.html.twig" %}
{% block title %}Modification du mot de passe{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="card p-3 py-4">
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0"> Mise à jour du mot de passe </h5>
                        <hr>
                        <div class="px-4 mt-1">
                            {{ form_start(form)}}
                            {{ form_widget(form) }}
                            <div class="buttons">
                                <button type="submit" class="btn btn-outline-primary px-4">Enregistrer</button>
                                <input type="reset" class="btn btn-primary px-4 ms-3" text="Reinitialiser"/>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        
                        
                    </div>        
                </div>
            </div>
        </div>
    </div>
{% endblock %}