{% extends "base.html.twig" %}
{% block title %}S'inscrire{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0"> S'inscrire </h5>
                        <hr>
                        <div class="px-4 mt-1">
                            {{ form_start(form)}}
                            {{ form_widget(form) }}
                        </div>
                        
                        <div class="buttons">
                            <button type="submit" class="btn btn-outline-primary px-4">S'inscrire</button>
                            <button type="reset" class="btn btn-primary px-4 ms-3">Reinitialiser</button>
                        </div>
                            {{ form_end(form) }}
                    </div>        
                </div>
            </div>
        </div>
    </div>
{% endblock %}