<footer class="bg-light mt-5 py-5">
    <div class="container">
        <div class="d-flex flex-column">
            <a
            href="#"
            class="d-inline-flex align-items-center mb-2 text-decoration-none"
            >
            <img
                src="{{ asset('/imagestest/logo.png') }}"
                alt="Cody Logo"
                width="32"
                class="me-2"
            />
            <span class="fw-bold fs-5 marque">Accompagner-O</span>
            </a>

            <p class="small text-secondary max-w-32rem">
            Accompagner-O est une équipes qui vous formera pour votre évolution dans le monde de la relation client et l'informatique bureautique.
            </p>

            <ul class="list-inline small fw-medium">
            <li class="list-inline-item me-3">
                <a href="#" class="text-decoration-none text-dark footer-link"
                >Acceuil</a
                >
            </li>
            <li class="list-inline-item me-3">
                <a
                href="about.html"
                class="text-decoration-none text-dark footer-link"
                >A propos de nous</a
                >
            </li>
            <li class="list-inline-item me-3">
                <a
                href="pricing.html"
                class="text-decoration-none text-dark footer-link"
                >Nos tarifs</a
                >
            </li>
            <li class="list-inline-item">
                <a
                href="contact.html"
                class="text-decoration-none text-dark footer-link"
                >Nous contacter</a
                >
            </li>
            </ul>
        </div>

        <hr class="my-4" />

        <div
            class="d-flex flex-column flex-md-row justify-content-between align-items-center small"
        >
            <p class="mb-2 mb-md-0">
            © 2025 Accompagner-O. All rights reserved. | Made by
            <a
                href="#"
                class="text-primary text-decoration-none"
                >accompagner-O.com</a
            >
            </p>

            <div class="d-flex gap-3">
            <a
                href="https://facebook.com/votrepage"
                target="_blank"
                rel="noopener"
            >
                <i class="fa fa-facebook"></i>
            </a>
            <a
                href="https://twitter.com/votrepage"
                target="_blank"
                rel="noopener"
            >
                <i class="fa fa-twitter"></i>
            </a>
            <a
                href="https://instagram.com/votrepage"
                target="_blank"
                rel="noopener"
            >
                <i class="fa fa-instagram"></i>
            </a>
            <a
                href="https://linkedin.com/in/votrepage"
                target="_blank"
                rel="noopener"
            >
                <i class="fa fa-linkedin"></i>
            </a>
            </div>
        </div>
    </div>
</footer>