{% extends "base.html.twig" %}

{% block title %} - Creation d'une annonce
{% endblock %}

{#{% form_theme form _self %}'partial/theme.html.twig' a la place du self#}
{% form_theme form 'annonce/_collection.html.twig' %}
{% block body %}
<div class="container">
    <h1 class="text-center">Création d'une nouvelle annonce</h1>
    <div class="w-75 mx-auto">
        
        {{ form_start(form) }}
            {{ form_widget(form)}}
        {{ form_end(form)}}
    </div>
</div>

{% endblock %}

{% block jsperso %}
    <script src="/js/annonce.js">
    </script>
{% endblock %}