{% extends 'base.html.twig'%}
    {% block title %}
        Accompagner-O
    {% endblock %}
    {% block body %}
        <section
        class="container pb-5 d-flex gap-2 flex-column align-items-center justify-content-center position-relative"
      >
            <p class="section-pill rounded-pill py-1 px-3 mb-0 small">
            Votre reussite commence ici
            </p>
            <h1 class="text-center display-1 mb-0" id="greatTitle">
            Revez ! <span class="highlight">Formez-vous !</span> Atteignez vos objectifs !
            </h1>
            <p class="mb-0 text-secondary text-center">
            Pour vous soutenir, notre équipe professionnelle sont entièrement à votre disposition.
            Une seule chose à faire
            <a
                  class="btn btn-success text-white bg-success rounded-pill px-3"
                  href="#"
                  target="_blank"
                  >Reservez votre date !</a
                >
            </p>
            <img
                src="{{ asset('/imagestest/support-client-illustration-design-plat.png') }}"
                alt="Supprort client illustration design plat"
                class="img-fluid rounded-5 position-relative z-2"
                width="800"
            />
            </div>
        </section>
    {% endblock %}