<!DOCTYPE html>
<html>
    <head>
        <title>Ma premiére page symfony</title>
    </head>
    <body>
        <h1>Premièere page Twig</h1>
        <p>Premièreparagraphe Twig.</p>
    </body>
</html>