{% extends "base.html.twig" %}
{% block title %}Page non trouvé{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">La triche n'est pas autoriser dans notre application</h1>
            <p class="text-center text-denger">Vous ne modifiez pas les annonces des autres.</p>
            <p class="text-center"><a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a></p>
            <p class="text-center"><a href="{{ path('annonces') }}">Voir nos Annonces</a></p>
        </div>
    </div>
{% endblock %}